<div>
    <title>
        {{pageHeader}}
    </title>

    <div>
        <div class="card">
            <ngx-datatable class="material"
                    [rows]="gridDataProvider"
                    [columns]="gridViewModel">
            </ngx-datatable>
        </div>

    </div>
</div>